body{
    width: 60vw;
    margin: auto;
}
html{    
    scroll-behavior: smooth;
}
header{
    background-color: antiquewhite;
}
nav>ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav > ul > li > a{
    text-decoration: none;
}

.hero{
    background-color: blue;
}
.about{
    background-color: orange;
}
.services{
    background-color: rebeccapurple;
}
.contact{
    background-color: aqua;
}
p{
    user-select: none;
}