body{
    background-color: gainsboro;
}
.main{
    width: 80vw;
    height: 90vh;
    background-color: aquamarine;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height: 70px;
    align-items: center;
}
.logo{
    margin-left: 10px;
}
.menus{
    margin-right: 10px;
}

.menus > ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.menus > ul > li{
    border: 1px solid red;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.body{
    display: flex;
    background-color: burlywood;
    height: 500px;
}
.contents{
    width: 80%;
    background-color: beige;
    padding: 50px;
    text-align: justify;
}
.sidebar{
    width: 20%;
    
}
.sidebar > ul {
    list-style: none;
    padding: 20px;
}
.sidebar > ul >li {
    border: 1px solid red;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer{
    background-color: brown;
    text-align: center;
    height: 35px;
    color: white;
    padding-top: 15px;
}